.container{
    display: flex;
    flex-direction: column;
}
.nav-bar{
    display: flex;
    background-color: #1f2937;
    

}

.heading1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 90px;
    color: #f9faf8;
    
}
.heading h1{
    margin-bottom: 5px;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

.heading{
flex-basis: 400px;
display: flex;
 flex-direction: column;
 text-align: left;
 margin-right: 50px;
 
}
.heading p{
    font-size: 18px;
    color: #E5E7EB;
}
.main-img{
    height:350px;
    width: 500px;
}
.main-img img{
 width: 500px;
 height: 350px;   
}


.heading-links{
    text-decoration: none;
    display: flex;
    gap: 8px; 
    margin-left: auto;  
}

a{
    color: #f9faf8;
}
body{
   font-family:'Roboto', arial;
   text-align: center;
   margin: 0;
}



.logo img{
    width: 84px;
    height: 84px;
    margin-right: auto;
    padding: 16px;
}

button{
    text-align: center;
    width: 110px;
    height: 40px;
    background-color: #3882f6;
    color: #f9faf8;
    display: block;
    border-radius: 10px;
    border: #3882f6;
    font-weight: 900;
    font-size: 17px;
}

.img-content{
    display: flex;
    justify-content: center;
    margin: 50px;
    gap: 50px
}
.sub-heading{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.image-text img{
 width: 200px;
 height: 200px;
 border: 5px solid #3882f6;
 border-radius: 15px;
}
.image-text{
    display: flex;
    flex-direction: column;
    flex-basis: 30px;
}
.quote{
    background-color: #E5E7EB;
    padding: 20px;
    font-style: italic;
}
.quote-text{
    font-size: 36px;
    color: #1f2937;
    
}
.quoted{
    font-weight: bold;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    margin: 100px 280px;
    padding: 70px;
    border-radius: 15px;
}
.footer-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.call{
    display: flex;
    justify-content: left;
    color: #f9faf8;
    font-weight: 800;
    font-size: 36px;
}
.call-text{
    color: #f9faf8;
    font-size: 18px;
    justify-content: left;
    display: flex;
}
.signup2{
margin-left: 450px;
border: 2px solid #f9faf8;
}
.copyright{
    background-color: #1f2937;
    color: #f9faf8;
}
