.container{
    display: flex;
    flex-direction: column;
}
.nav-bar{
    display: flex;
    background-color: #1f2937;
    

}
.heading{
 color: #f9faf8;
 font-size: 48px;
 font-weight: 800;
 background-color: #1f2937;
 display: flex;
 padding: 16px;
 
}
.heading-links{
    text-decoration: none;
    display: flex;
    gap: 8px;   
}
a{
    color: #f9faf8;
}
body{
    font-family:'Roboto', arial;
    text-align: center;
   
}



.logo, img{
    width: 84px;
    height: 84px;
    margin-right: auto;
}